@import '../../styles/variables';

@each $theme in 1 2 3 {
	.switch-#{$theme} {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		div {
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				padding-right: 25px;
				font-size: 13px;
			}
		}

		.switch-numbers-#{$theme} {
			width: 70px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 7px;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 15px;
				cursor: pointer;
			}
		}

		.switch-buttons-#{$theme} {
			width: 70px;
			height: 25px;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			background-color: map-get($background-keypad, $theme);

			li {
				width: 17px;
				height: 17px;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				align-self: center;
				justify-self: center;
				cursor: pointer;

				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						background-color: map-get($switch-button, $i);

						&:hover {
							background-color: map-get($switch-button-hover, $i);
						}
					}
				}
			}
		}
	}
}
