$switch-button: (
	1: hsl(6, 63%, 50%),
	2: hsl(25, 98%, 40%),
	3: hsl(176, 100%, 44%),
);

$switch-button-hover: (
	1: #fa6b5b,
	2: #ff8b38,
	3: #93fff9,
);

$background-main: (
	1: hsl(222, 26%, 31%),
	2: hsl(0, 0%, 90%),
	3: hsl(268, 75%, 9%),
);

$background-keypad: (
	1: hsl(223, 31%, 20%),
	2: hsl(0, 5%, 81%),
	3: hsl(268, 71%, 12%),
);

$background-screen: (
	1: hsl(224, 36%, 15%),
	2: hsl(0, 0%, 93%),
	3: hsl(268, 71%, 12%),
);

$key-background: (
	1: hsl(30, 25%, 89%),
	2: hsl(45, 7%, 89%),
	3: hsl(268, 47%, 21%),
);

$key-shadow: (
	1: hsl(28, 16%, 65%),
	2: hsl(35, 11%, 61%),
	3: hsl(290, 70%, 36%),
);

$key-background-hover: (
	1: #fff,
	2: #fff,
	3: #6b34ac,
);

$key-del-reset-background: (
	1: hsl(225, 21%, 49%),
	2: hsl(185, 42%, 37%),
	3: hsl(281, 89%, 26%),
);

$key-del-reset-shadow: (
	1: hsl(224, 28%, 35%),
	2: hsl(185, 58%, 25%),
	3: hsl(285, 91%, 52%),
);

$key-del-reset-background-hover: (
	1: #a2b3e1,
	2: #62b5be,
	3: #8631b0,
);

$key-equal-background: (
	1: hsl(6, 63%, 50%),
	2: hsl(25, 98%, 40%),
	3: hsl(176, 100%, 44%),
);

$key-equal-shadow: (
	1: hsl(6, 70%, 34%),
	2: hsl(25, 99%, 27%),
	3: hsl(177, 92%, 70%),
);

$key-equal-background-hover: (
	1: #fa6b5b,
	2: #ff8b38,
	3: #93fff9,
);

$text-header: (
	1: hsl(0, 0%, 100%),
	2: hsl(60, 10%, 19%),
	3: hsl(52, 100%, 62%),
);

$text-key: (
	1: hsl(221, 14%, 31%),
	2: hsl(60, 10%, 19%),
	3: hsl(52, 100%, 62%),
);

$text-key-del-reset: (
	1: hsl(0, 0%, 100%),
	2: hsl(0, 0%, 100%),
	3: hsl(0, 0%, 100%),
);

$text-key-equal: (
	1: hsl(0, 0%, 100%),
	2: hsl(0, 0%, 100%),
	3: hsl(198, 20%, 13%),
);
